html, body {
    margin: 0;
}

header {
    background-color: blanchedalmond;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color:rgba(245, 245, 220, 0.753);
}